body{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
  }
  .logo{
      position: absolute;
      top: 10%;
      left: 50%;
      transform: translate(-50%, -50%);
  }
  .creditos{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      
  }
  
  .filmes{
    position: absolute;
    top: 88%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
    
  .credittext{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 5px;
    color: white;
    position: absolute;
      top: 98%;
      left: 50%;
      transform: translate(-50%, -50%);
  }

  .texto{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    position: absolute;
      top: 15%;
      left: 50%;
      transform: translate(-50%, -50%);
  }
